@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?u1rtgz');
  src:  url('fonts/icomoon.eot?u1rtgz#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?u1rtgz') format('truetype'),
    url('fonts/icomoon.woff?u1rtgz') format('woff'),
    url('fonts/icomoon.svg?u1rtgz#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sol:before {
  content: "\e905";
}
.icon-nublado:before {
  content: "\e906";
}
.icon-tormenta:before {
  content: "\e907";
}
.icon-lluvia:before {
  content: "\e908";
}
.icon-nieve:before {
  content: "\e909";
}
.icon-lapiz:before {
  content: "\e900";
}
.icon-like:before {
  content: "\e901";
}
.icon-billete:before {
  content: "\e902";
}
.icon-clip:before {
  content: "\e903";
}
.icon-billetera:before {
  content: "\e904";
}

